body {
    margin: 0;
}
/* Home page here */
header {
    background-color: #008099;
    color: #fefefe;
    font-family: sans-serif;
    padding: 1rem 1rem 1rem 10rem;
}
header h1 {
    font-size: 4rem;
}
#header-text {
    font-size: 2rem;
    font-style: italic;
    margin-top: -2.5rem;
    padding-bottom: 1.5rem;
    width: 33%;
}
nav {
    background-color: lightgray;
    font-family: sans-serif;
    padding: 1rem;
    padding-left: 10rem;
}
a.navigation {
    color: #2b2d2f;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
}
section{
    font-family: sans-serif;
}
section.index-main {
    display: flex;
    flex-direction: column;
    float: left;
    padding-left: 10rem;
    padding-top: 2rem;
    width: 45%;
}
#index-main-first {
    color: #008099;
    margin-bottom: 0;
}
#index-main-second {
    color: #008099;
    font-size: 1.5rem;
    font-weight: normal;
}
#index-main-third {
    color: #2b2d2f;
    margin-bottom: 0;
}
.index-main-paragraph {
    color: #2b2d2f;
    font-size: smaller;
}
.blue {
    background: none;
    color: #008099;
}
.aside-header {
    color: #2b2d2f;
}
.aside-text {
    color: #2b2d2f;
    font-size: smaller;
}
.aside-link {
    color: #008099;
    font-size: smaller;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-decoration: none;
}
aside {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-left: 8rem;
    padding-top: 2rem;
    width: 35%;
}
figure {
    margin-left: -0.5%;
}
figcaption {
    margin-top: 0.5rem;
    width: 60%;
}
/* Footer here */
footer {
    background-color: #2b2d2f;
    color:#fefefe;
    font-family: sans-serif;
    font-size: smaller;
    padding: 2rem;
    text-align: center;
}
a.footer {
    color:#fefefe;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}
#footer-top {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#footer-bottom {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
/* About page here */
section.about-main{
    color:#2b2d2f;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-top: 2rem;
    width: 75%;
}
a[href="index.html"] {
    color: #008099;
    display: inline-block;
    font-weight: bold;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-decoration: none;
}