header {
    background-color: rgb(0, 155, 187);
    color: rgb(254, 254, 254);
    font-family: sans-serif;
    padding: 1rem;
    padding-left: 10rem;
    margin: -0.5rem -0.5rem 0;
}
header > h1 {
    font-size: 4rem;
}
#header-text {
    font-size: 2rem;
    font-style: italic;
    margin-top: -1rem;
}
nav {
    background-color: lightgray;
    font-family: sans-serif;
    padding: 1rem;
    padding-left: 10rem;
    margin: -0.5rem -0.5rem 0;
}
a.navigation {
    text-decoration: none;
    color: rgb(43, 45, 47);
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
section{
    font-family: sans-serif;
}
section.index-main {
    float: left;
}
section.index-main {
    padding-top: 2rem;
    padding-left: 10rem;
    width: 45%;
}
#index-main-first {
    color: rgb(0, 155, 187)
}
#index-main-second {
    color:rgb(0, 155, 187);
    font-weight: normal;
}
#index-main-third {
    color:rgb(43, 45, 47);
}
.index-main-paragraph {
    color:rgb(43, 45, 47);
    font-size: smaller;
}
.blue {
    background: none;
    color:rgb(0, 155, 187)
}
.aside-header {
    color:rgb(43, 45, 47);
}
.aside-text {
    color:rgb(43, 45, 47);
    font-size: smaller;
}
.aside-link {
    color:rgb(0, 155, 187);
    font-size: smaller;
    text-decoration: none;
}
aside {
    float: right;
    padding-top: 2rem;
    margin-top: -19rem;
    width: 35%;
}
figure {
    margin-left: -0.5%;
}
figcaption {
    margin-top: 0.5rem;
    width: 60%;
}
footer.index {
    clear: right;
    background-color: rgb(43, 45, 47);
    color:rgb(254, 254, 254);
    font-family: sans-serif;
    font-size: smaller;
    text-align: center;
    padding: 2rem;
    margin: 45rem -0.5rem -1rem;
}
a.footer {
    text-decoration: none;
    color:rgb(254, 254, 254);
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
section.about-main{
    color:rgb(43, 45, 47);
    padding-top: 2rem;
    padding-left: 10rem;
    width: 75%; 
}
a[href="index.html"] {
    text-decoration: none;
    color: rgb(0, 155, 187);
    font-weight: bold;
}
footer.about {
    background-color: rgb(43, 45, 47);
    color:rgb(254, 254, 254);
    font-family: sans-serif;
    font-size: smaller;
    text-align: center;
    padding: 2rem;
    margin: 1rem -0.5rem -1rem;
}